<nav id="navbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/event-tracker']"><img class="navbarImg" src="https://us.123rf.com/450wm/hopscotch1/hopscotch11610/hopscotch1161000063/64677566-stock-vector-a-bowlful-of-steamy-hot-chili-is-simple-hearty-and-feeds-the-soul-make-your-kitchen-all-the-more-coz.jpg?ver=6"
     alt="Stew"></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/event-tracker']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/event-tracker/secretoflife']">Secrets to the Universe</a>
      </li>
    </ul>
  </div>
</nav>
