<!-- Footer -->
<footer id="footer" class="page-footer font-small blue pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Instant Pot Recipe Sites</h5>
        <ul>
          <li><a href="https://thesaltymarshmallow.com/">Salty Marshmellow</a></li>
          <li><a href="https://www.delish.com/cooking/g3951/instant-pot-recipes/">Delish</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Other</h5>
        <ul>
          <li><a href="https://www.verywellfit.com/cheap-ramen-noodle-makeover-2507664">Ramen Nutrition</a></li>
          <li><a href="https://www.foodnetwork.com/how-to/articles/how-to-make-perfect-rice-a-step-by-step-guide">How to Cook Rice</a></li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Made by Thomas Dang&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/thomas-n-dang">
      <img class="linkedinLogo" src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt="Linkedin logo">
    </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
