<div class="container-fluid">
  <h3>What is this thing for?</h3>
  <br>
  <p>I am impatient when it comes to food prep, and had fallen into a habit of eating fast food nearly everyday. This is
    not only incredibly unhealthy, but also expensive. To help get away form this habit I got ahold of an instant pot and
    began to make large meals that I could simply reheat throughout the week, in particular soups.
<br><br>
    In further effort to cut costs and save time I began to experiment with using frozen vegetables and other minor
     variations to instant pot recipes I found online. Unsurprisingly, these sometimes worked out well, othertimes nearly
     resulted in an entire pot thrown out.
<br><br>
    This program is meant to record the changes made to recipes found online to help remember which things work, and to
    display the costs as motivation to continue saving money.
  </p>
</div>
